<!---Front exemple pour un topic creer-->
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">Créer par: Mathew</div>
  <div class="card-body">
    <a class="card-title" href="/onetopic">News France 2021</a>
    <p class="card-text">Quelques text</p>
  </div>
  <div class="card-footer bg-transparent border-success">Date de publication: 23/10/2021 22:50</div>
</div>
<!---Front exemple pour un topic avec un cadenas creer-->
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"> X Créer par: Jerome</div>
  <div class="card-body">
    <a class="card-title" href="/onetopic">News Espagne 2021</a>
    <p class="card-text">Quelques text</p>
  </div>
  <div class="card-footer bg-transparent border-success">Date de publication: 23/10/2021 20:50</div>
</div>