<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
        {% if app.user %}
            {# Code ici si utilisateur connecter #}
        {% else %}
            {# Code ici si utilisateur non connecter #}
            <!-- Grid container -->
            <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">S'inscrire gratuitement</span>
                <a type="button" class="btn btn-outline-light btn-rounded" href = "/register">
                    S'inscrire
                </a>
                </p>
            </section>
            <!-- Section: CTA -->
            </div>
            <!-- Grid container -->                   
        {% endif %}
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://github.com/kokokanti98/symfony2021">Mr KOKO lien GitHub du projet</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>