<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% for i in 1..5 %}  
            <ul class="navbar-nav">
                <li class="nav-item">
                {% if i == 1 %}
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                {% elseif i == 2 %}
                    <a class="nav-link active" aria-current="page" href="#">Utilisateur</a>
                {% elseif i == 3 %}
                    <a class="nav-link active" aria-current="page" href="#">Topic</a>
                {% elseif i == 4 %}
                    <a class="nav-link active" aria-current="page" href="#">Message</a>
                {% else %}
                    <a class="nav-link active" aria-current="page" href="security/login.html.twig">Se connecter</a>                   
                {% endif %}
                </li>
            </ul>
        {% endfor %}
    </div>
  </div>
</nav>