<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% include 'base/btcdn.html.twig' %}
    </head>
    <body>
        {% include 'base/nav.html.twig' %}
        {% block body %}
            {% if app.user %}
                {# Code ici si utilisateur connecter #}
                {# On affichera le nom d utilisateur si iil est connécte#}
                <h3>Bienvenue  {{ app.user.lastname }}, voici la liste des sujets de discussions sur notre site:</h3>
            {% else %}
                {# Code ici si utilisateur non connecter #}
                <h3>Bienvenue Mr/Mme Visiteur, voici la liste des sujets de discussions sur notre site:</h3>                
            {% endif %}
            {% include 'base/all_topic.html.twig' %} 
        {% endblock %}
        {% include 'base/footer.html.twig' %}
    </body>
</html>
