<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% include 'base/btcdn.html.twig' %}
    </head>
    <body>
        {% include 'base/nav.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'base/footer.html.twig' %}
    </body>
</html>
