<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        {% include 'base/btcdn.html.twig' %}

    </head>
    <body>

        {% include 'base/nav.html.twig' %}
        {% block body %}{% endblock %}

    </body>
</html>
